* {
	margin:0;
	padding:0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Barra de Navegação */
.navbar-bg {
    background: #294c71;
}

.navbar-toggler {
    outline: none;
    box-shadow: 2px 2px 2px  #000;
    border: 1px solid #000;
}

.navbar-toggler.collapsed{
    box-shadow: 2px 2px 2px #000;
    border: 1px solid #000;
}

.navbar-toggler:not(.collapsed) {    
    box-shadow: none;
}

.navbar .nav-link {
    font-size: 0.8em;
    letter-spacing: 0.1em;
    margin: 0.2em;
    padding: 0.5em;
    color: #fff;
    box-sizing: border-box;
}

.navbar .nav-link.active, .navbar .nav-link:focus {
    background: #8b0229;
    border: 1px solid #8b0229;
    box-shadow: 2px 2px 2px  rgba(117, 0, 0, 0.637);
    text-shadow: 3px 1px 10px rgba(255, 255, 255,0.9);
    border-radius: 5px;
    color: #fff;
}

.navbar .nav-link:active {
    box-shadow: none;
}

/* ! LOGOS */
#logo {
    width: 5em;
    height: 1.875em;
}

#detalhe-logo {
    width: 2em;
    height: 2em;
}

/* ! ************** Barra Lateral ****************** */
.caixa {
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    padding: 0.2em;
    box-sizing: border-box;
}

.caixa h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    background: #294c71;
    border: 1px solid #000;
    border-radius: 4px;
    color: #f3f3f3;
    padding: 0.1em;
}

.caixa h3 {
    font-size: 0.9em;
    padding: 0.1em;
}



.caixa-conteudo a {
    margin-top: 0;
    color: #8b0229;
}

.caixa-conteudo a:hover {
    color: #e50040;
    
}

.destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.3em;
    border: 1px solid #000;
    border-radius: 7px;
    background: #8b0229;
    color: #f3f3f3;
}

p {
    margin-top: 0.1em;
    font-size: 0.8em;
}

aside ul {
    display: block;
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    display: flex;
    border: 1px solid #c3c3c3;
    border-radius: 7px;
    width: 100%;
    padding: 0.5em;
}

aside ul li a {
    color: #000;
    text-decoration: none;
    letter-spacing: 0.2em;
    display: block;
    width: 100%;
}

aside ul li a:hover {
	background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
	padding-left: 1.2em;
	color: #a1a1a1;
}

/* ! Conteudo */

.caixa-conteudo {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.caixa-noticias {
    margin-bottom: 0.1em;
    padding-top: 1em;
    border: 1px solid red;
}

.caixa-noticias ul li {
    list-style: none;
}

/* ! Rodapé */

#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
    color: #fff;
	background: #294c71;
    padding: 1em;
}



/*! *********** Media Queries **********  */
/* ****************** MD ************** */
@media (min-width: 768px) {

    #detalhe-logo {
        margin-right: 2em;
    }

    .navbar-bg {
        background: #294c71 url(/imagens/fundo.png);
        min-height: 14em;
    }

    .navbar .nav-item {
        padding: 1em;
    }

    .navbar .nav-item {
        padding: 0.2em;
    }
    
    .navbar .nav-link {
        background:  url(../imagens/divisor.png) no-repeat left center;
        display: inline;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        margin-right: 0.2em;
        padding: 1em;
    }

    .navbar .nav-item .nav-link {
        margin: 0;
        padding: auto;
    }

    .navbar .nav-link.active {
        background: #8b0229;
        border: 1px solid #8b0229;
        box-shadow: 2px 2px 2px  rgba(105, 1, 1, 0.9);
        text-shadow: 3px 1px 10px rgba(255, 255, 255,0.9);
        border-radius: 5px;
        padding: 1em;
        margin: 0.3em;
        color: #fff;
    }

    .caixa h2 {
        font-size: 1.2em;
    }

    .caixa h3 {
        font-size: 0.8em;
    }

    p {
        margin-top: 0.1em;
        font-size: 0.9em;
    }

    #rodape {
        font-size: 0.7em;
        padding: 1.1em;
    }
}

/* ***************** XL ************* */
@media (min-width: 1000px) {
    .nav-brand {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0;
    }

    #logo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 1em;
        width: 8em;
        height: 2em;
    }

    #detalhe-logo {
        width: 3em;
        height: 3em;
    }
    

    .navbar .nav-item {
        padding: 0.2em;
    }

    .navbar .nav-link {
        background: url(../imagens/divisor.png) no-repeat left center;
        display: inline;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        margin-right: 0.2em;
        padding: 1em;
    }

    .navbar .nav-link:active{
        box-shadow: none;
    }

    .navbar .nav-link:hover {
        background: #8b0229;
        border: 1.5px solid #8b0229;
        border-radius: 5px;
        box-shadow: 3px 3px 3px  rgba(105, 1, 1, 0.9);
        text-shadow: 3px 1px 10px rgba(255, 255, 255,0.5);
        letter-spacing: 0.2em;
    }

    p {
        margin-top: 0.2em;
        font-size: 1em;
    }

    #rodape {
        font-size: 0.8em;
        padding: 1.2em;
    }

/* ***************** XLL *************** */
    @media (min-width: 1200px) {
        #logo {
            margin-right: 1em;
            width: 10em;
            height: 3em;
        }

        #detalhe-logo {
            width: 5em;
            height: 5em;
        }
        
        .navbar .nav-item {
            padding: 1em;
        }
    
        .navbar .nav-link {
            background: url(../imagens/divisor.png) no-repeat left center;
            display: inline;
            justify-content: center;
            align-items: center;
            font-size: 1.2em;
            letter-spacing: 0.1em;
            margin-left: 0.2em;
        }

        .navbar .nav-link:hover {
            background: #8b0229;
            border: 2px solid #8b0229;
            border-radius: 5px;
            /* box-shadow: 3px 3px 3px  rgba(105, 1, 1, 0.9); */
            text-shadow: 3px 1px 10px rgba(255, 255, 255,0.5);
            letter-spacing: 0.2em;
            padding: 1em 1.5em;
            transition: all 1s ease;
        }

        .navbar .nav-link:active{
            box-shadow: none;
        }

        .navbar .nav-link.active {
            background: #8b0229;
            border: 1.5px solid #8b0229;
            box-shadow: 3px 3px 3px  rgba(105, 1, 1, 0.9);
            text-shadow: 3px 1px 10px rgba(255, 255, 255,0.5);
            border-radius: 5px;
            padding: 1em 1.5em;
            margin: 1em;
        }

        /* !TEXTO */

        .caixa h2 {
            font-size: 1em;
        }
    
        .caixa h3 {
            font-size: 0.6em;
        }

        p {
            margin-top: 0.4em;
            font-size: 1.1em;
        }

        #rodape {
            font-size: 0.9em;
            padding: 1.2em;
        }    
    }
}