* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Barra de Navegação */
.navbar-bg {
    background: #294c71;
}

.navbar-toggler {
    outline: none;
    box-shadow: 2px 2px 2px #000;
    border: 1px solid #000;
}

.navbar-toggler.collapsed {
    box-shadow: 2px 2px 2px #000;
    border: 1px solid #000;
}

.navbar-toggler:not(.collapsed) {
    box-shadow: none;
}

.navbar .nav-link {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin: 0.2rem;
    padding: 0.5rem;
    color: #fff;
    box-sizing: border-box;
}

.navbar .nav-link.active,
.navbar .nav-link:focus {
    background: #8b0229;
    border: 1px solid #8b0229;
    box-shadow: 2px 2px 2px rgba(117, 0, 0, 0.637);
    text-shadow: 3px 1px 10px rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    color: #fff;
}

.navbar .nav-link:active {
    box-shadow: none;
}
/* !!!!! Home */
/* ! LOGOS */
#logo {
    width: 5rem;
    height: 1.875rem;
}

#detalhe-logo {
    width: 2rem;
    height: 2rem;
}

/* ! ************** Barra Lateral ****************** */
.caixa {
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    padding: 0.2rem;
    box-sizing: border-box;
}

.caixa h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background: #294c71;
    border: 1px solid #000;
    border-radius: 4px;
    color: #f3f3f3;
    padding: 0.1rem;
}

.caixa h3 {
    font-size: 0.9rem;
    padding: 0.1rem;
}


.destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.3rem;
    border: 1px solid #000;
    border-radius: 7px;
    background: #8b0229;
    color: #f3f3f3;
}

p {
    margin-top: 0.1rem;
    font-size: 0.8rem;
}

aside ul {
    display: block;
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    display: flex;
    border: 1px solid #c3c3c3;
    border-radius: 7px;
    width: 100%;
    padding: 0.5rem;
}

aside ul li a {
    color: #000;
    text-decoration: none;
    letter-spacing: 0.2rem;
    display: block;
    width: 100%;
}

aside ul li a:hover {
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    padding-left: 1.2rem;
    color: #a1a1a1;
}

/* ! Conteudo */

.caixa-conteudo {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.caixa-conteudo p {
    margin-bottom: 0;
}

.caixa-conteudo a {
    margin-top: 0;
    color: #8b0229;
}

.caixa-conteudo a:hover {
    color: #e50040;
}

/* !Container noiticias e lista de noiticias */

.caixa-noticias {
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
    padding: 1rem;
    background: #f9f9f9
}

/* *********** Lista Noticias ********** */

.lista-noticias {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.lista-noticias li {
    padding: 0.1rem;
    list-style: none;
    border-bottom: 1px solid #c0bfbf;
}

.lista-noticias li a img {
    width: 5rem;
    margin: 0.3rem;
    float: left;
}

.lista-noticias li a {
    text-decoration: none;
}

.lista-noticias li a h3 {
    font-size: 0.9rem;
    color: #3e7ab9;
    padding: 0;
}

.lista-noticias li a p {
    font-size: 0.7rem;
    color: #000;
}

.lista-noticias li:hover {
    background: #c0bfbf;
    cursor: pointer;
}


/* !!!! Nova-Legislação */

.container-legislacao {
    display: flex;
    justify-content: center;
    min-height: 100dvh;
}

.container-legislacao .caixa-conteudo img {
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.caixa h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 1rem;
    background: #294c71;
    border: 1px solid #000;
    border-radius: 4px;
    color: #f3f3f3;
    padding: 0.3em;
}

/* !Entrevistas */
h6 {
    font-style: italic;
    font-weight: bolder;
    background: #c3c3c3;
    padding: 0.2rem;
}

h6 span {
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
}

/* ! Rodapé */

#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    color: #fff;
    background: #294c71;
    padding: 1rem;
    margin-top: 1rem;
}

#rodape a {
    color: #fff;
    background-color: #e50040;
    border: none;
    border-radius: 3rem;
    text-transform: uppercase;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    font-size: 0.8rem;
}

#rodape a:hover {
    color: #294c71;
    text-decoration: underline;
}




















/*! *********** Media Queries **********  */
/* ****************** MD ************** */
@media (min-width: 768px) {

    #detalhe-logo {
        margin-right: 2rem;
    }

    .navbar-bg {
        background: #294c71 url(../imagens/fundo.png);
        min-height: 14rem;
    }

    .navbar .nav-item {
        padding: 1rem;
    }

    .navbar .nav-item {
        padding: 0.2rem;
    }

    .navbar .nav-link {
        background: url(../imagens/divisor.png) no-repeat left center;
        display: inline;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        margin-right: 0.2rem;
        padding: 1rem;
    }

    .navbar .nav-item .nav-link {
        margin: 0;
        padding: auto;
    }

    .navbar .nav-link.active {
        background: #8b0229;
        border: 1px solid #8b0229;
        box-shadow: 2px 2px 2px rgba(105, 1, 1, 0.9);
        text-shadow: 3px 1px 10px rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        padding: 1rem;
        margin: 0.3rem;
        color: #fff;
    }

    .caixa h2 {
        font-size: 1.2rem;
    }

    .caixa h3 {
        font-size: 0.8rem;
    }

    p {
        margin-top: 0.1rem;
        font-size: 0.9rem;
    }

    /* !Container noiticias e lista de noiticias */

    .caixa-noticias {
        margin: 0;
        padding: 0.8rem;
    }

    /* *********** Lista Noticias ********** */

    .lista-noticias li {
        padding: 0.5rem;
        margin: 0.1rem;
    }

    .lista-noticias li a img {
        width: 5.6rem;
        margin: 0.3rem;
        padding: 0.1rem;
    }

    .lista-noticias li a h3 {
        font-size: 1rem;
        color: #3e7ab9;
        padding: 0;
    }

    .lista-noticias li a p {
        font-size: 0.8rem;
    }

    #rodape {
        font-size: 0.7rem;
        padding: 1.1rem;
    }

    /* !Pagina Nova Legislação */

    .container-legislacao .caixa-conteudo img {
        max-width: 50%;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

    .container-legislacao .caixa .destaque {
        font-size: 2rem;
    }

    .container-legislacao .caixa-conteudo h4 {
        font-size: 1.5rem;
    }

    .container-legislacao .caixa-conteudo p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}

/* ***************** XL ************* */
@media (min-width: 1000px) {
    .nav-brand {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0;
    }

    #logo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 1rem;
        width: 8rem;
        height: 2rem;
    }

    #detalhe-logo {
        width: 3rem;
        height: 3rem;
    }


    .navbar .nav-item {
        padding: 0.2rem;
    }

    .navbar .nav-link {
        background: url(../imagens/divisor.png) no-repeat left center;
        display: inline;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        margin-right: 0.2rem;
        padding: 1rem;
    }

    .navbar .nav-link:active {
        box-shadow: none;
    }

    .navbar .nav-link:hover {
        background: #8b0229;
        border: 1.5px solid #8b0229;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgba(105, 1, 1, 0.9);
        text-shadow: 3px 1px 10px rgba(255, 255, 255, 0.5);
        letter-spacing: 0.2rem;
    }

    p {
        margin-top: 0.2rem;
        font-size: 1rem;
    }

    /* !Container noiticias e lista de noiticias */

    .caixa-noticias {
        margin: 0;
        padding: 0.8rem;
    }

    /* *********** Lista Noticias ********** */

    .lista-noticias li {
        padding: 0.7rem;
        margin: 0.5rem;
    }

    

    .lista-noticias li a img {
        width: 7.8rem;
        margin: 0.5rem;
        padding: 0.1rem;
    }

    .lista-noticias li a h3 {
        font-size: 1.3rem;
        color: #3e7ab9;
        padding: 0;
    }

    .lista-noticias li a p {
        font-size: 1rem;
    }

    .lista-noticias li:hover {
        background: #d3d3d3;
        cursor: pointer;
    }

    #rodape {
        font-size: 0.7rem;
        padding: 1.1rem;
    }

    /* !Pagina Nova Legislação */

    .container-legislacao .caixa-conteudo img {
        max-width: 50%;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

    .container-legislacao .caixa .destaque {
        font-size: 2.2rem;
    }

    .container-legislacao .caixa-conteudo h4 {
        font-size: 1.7rem;
    }

    .container-legislacao .caixa-conteudo p {
        font-size: 1.5rem;
    }


    /* ***************** XLL *************** */
    @media (min-width: 1200px) {
        #logo {
            margin-right: 1rem;
            width: 10rem;
            height: 3rem;
        }

        #detalhe-logo {
            width: 5rem;
            height: 5rem;
        }

        .navbar .nav-item {
            padding: 1rem;
        }

        .navbar .nav-link {
            background: url(../imagens/divisor.png) no-repeat left center;
            display: inline;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            margin-left: 0.2rem;
        }

        .navbar .nav-link:hover {
            background: #8b0229;
            border: 2px solid #8b0229;
            border-radius: 5px;
            /* box-shadow: 3px 3px 3px  rgba(105, 1, 1, 0.9); */
            text-shadow: 3px 1px 10px rgba(255, 255, 255, 0.5);
            letter-spacing: 0.2rem;
            padding: 1rem 1.5rem;
            transition: all 1s ease;
        }

        .navbar .nav-link:active {
            box-shadow: none;
        }

        .navbar .nav-link.active {
            background: #8b0229;
            border: 1.5px solid #8b0229;
            box-shadow: 3px 3px 3px rgba(105, 1, 1, 0.9);
            text-shadow: 3px 1px 10px rgba(255, 255, 255, 0.5);
            border-radius: 5px;
            padding: 1em 1.5rem;
            margin: 1rem;
        }

        /* !TEXTO */

        .caixa h2 {
            font-size: 1.2rem;
        }

        .caixa h3 {
            font-size: 0.9rem;
        }

        p {
            margin-top: 0.4rem;
            font-size: 1.1rem;
        }

        #rodape {
            font-size: 0.9rem;
            padding: 1.2rem;
        }

        /* !Container noiticias e lista de noiticias */

        .caixa-noticias {
            margin: 0;
            padding: 0.8rem;
        }

        /* *********** Lista Noticias ********** */

        .lista-noticias li {
            padding: 0.8rem;
            margin: 0.7rem;
        }

        .lista-noticias li a img {
            width: 15rem;
            margin: 0.5rem;
            padding: 0.1rem;
        }

        .lista-noticias li a h3 {
            font-size: 1.5rem;
            color: #3e7ab9;
            padding: 0;
        }

        .lista-noticias li a p {
            font-size: 1rem;
        }

        #rodape {
            font-size: 0.7rem;
            padding: 1.1rem;
        }

        /* ! Página Nova Legislação */

        .container-legislacao .caixa .destaque {
            font-size: 2.2rem;
        }
    
        .container-legislacao .caixa-conteudo img {
            max-width: 50%;
            object-fit: contain;
            display: block;
            margin: 0 auto;
        }

        .container-legislacao .caixa-conteudo h4 {
            font-size: 1.7rem;
        }
    
        .container-legislacao .caixa-conteudo p {
            font-size: 1.5rem;
        }
    }
}
